
* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Cop, sans-serif;
  color: #333;
  font-size: 20px;
  line-height: 20px;
}

.shopping-cart {
  width: 750px;
  height: auto;
  /* margin: 80px auto; */
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.title-cart {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
}

.item {
  padding: 20px 30px;
  height: auto;
  display: flex;
  /* display:inline-block; */
}

.total-price-box {
  /* padding: 20px 30px;
  height: 60px; */
  border-top:  1px solid #E1E8EE;
  width: 750px;
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 0px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  /* display: flex; */
  /* flex-direction: column; */
  /* height: auto; */
  /* display: flex; */
  /* display:inline-block; */
}


.empty-basket-text {
  border-top:  1px solid #E1E8EE;
  border-bottom: 1px solid #E1E8EE;
  padding: 0px 30px;
  color: #5E6977;
  font-size: 15px;
  font-weight: 400;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
}

.item:nth-child(3) {
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}

/* Buttons -  Delete and Like */
.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 50px;
}

.delete-btn {
  display: inline-block;
  cursor: pointer;
  width: 8px;
  height: 17px;
  background: url("../images/delete-icn.svg") no-repeat center;
  margin-right: 2px;
}

.edit-btn {
  display: inline-block;
  cursor: pointer;
  width: 20px;
  height: 17px;
  background: url("../images/editImage.svg") no-repeat center;
  margin-left: 20px;
}

.is-active {
  animation-name: animate;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}

@keyframes animate {
  0%   { background-position: left;  }
  50%  { background-position: right; }
  100% { background-position: right; }
}

/* Product Image */
.product-image {
  margin-right: 50px;
  display: block;
  margin-left: auto;
  /* margin-right: auto; */
  /* width: 50%; */
}

/* Product Description */
.description {
  padding-top: 17px;
  margin-right: 20px;
  width: 155px;
}

.description span {
  display: block;
  font-size: 14px;
  color: #43484D;
  font-weight: 400;
}

.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
}

/* Product Quantity */
.tickets {
  padding-top: 17px;
  margin-right: 20px;
  margin-left: 10px;
  text-align: center;
  width: 92px;
  font-size: 14px;
  color: #43484D;
  font-weight: 300;
  word-wrap: break-word;
}

button[class*=btn] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.minus-btn img {
  margin-bottom: 3px;
}
.plus-btn img {
  margin-top: 2px;
}
button:focus,
input:focus {
  outline:0;
}

/* Total Price */
.item-price {
  width: 153px;
  padding-top: 17px;
  text-align: center;
  font-size: 14px;
  /* color: #43484D; */
  font-weight: 300;
  margin-left: 20px;
  padding-right: 40px;
}

.total-price {
  height: 60px;
  /* border-bottom: 1px solid #E1E8EE; */
  padding: 20px 30px;
  color: #5E6977;
  font-size: 20px;
  font-weight: 400;
  text-align: right;
  /* width: 750px;
  height: auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  display: flex;
  flex-direction: column; */
}

.bottom-section{
  padding-top: 40px;
  padding-bottom: 40px;
}

/* Responsive */
@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
}
  .image img {
    width: 60%;
  }
  .image,
  .tickets,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
}
